.gallery {
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    gap:16px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    /* height: 800px; */
    border: 1px solid rgb(235, 232, 232);
    border-radius: 6px;
    padding: 16px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    transition: 0.8s;
    cursor: pointer;
}
.card:hover{
    background-color: lightgray;
}
.card img {
    height: 400px;
    border-radius: 6px;
}
.text-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date{
    color: rgb(70, 70, 70);
}
.description{
    margin: 0;
    height: 80px;
}
.price{
    background-color: rgb(1, 175, 137);
    align-self: flex-end;
    border-radius: 6px;
    padding: 8px;
    font-weight: 500;
    color: white;
}